{% extends 'bst/base.html' %}
{% block content %}

<div class="mt-4 mb-4">
  <a class="btn btn-primary" href="{% url 'measure-add' %}" role="button">Add new measurement</a>
  <a class="btn btn-primary" href="{% url 'dashboard-all' user %}" role="button">All records</a>
  <a class="btn btn-secondary" href="{% url 'testing-panel' %}" role="button">Testing panel</a>
</div>

{% if not profile.height %}
<h5> Hi! {{user}}, I strongly recommend to add few information (like height or age) about you to take full advantage
      from BST. You can do this <a href="{% url 'profile'%}?change=yes">here</a>.</h5>
    <br>
{% endif %}

{% if not measures %}

<h5>Your database is empty. Add your first measurement <a href="{% url 'measure-add' %}">here</a>.</h5>
{% else %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Start</th>
      <th scope="col">Now</th>
      <th scope="col">Progress</th>
      <th scope="col">Progress [%]</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">{{ start.date|date:"d/m/y" }}</th>
      <th scope="col">{{ changes.date }} days</th>
      <th scope="col">-</th>
      <th scope="col">-</th>
    </tr>
    <tr>
      <th scope="col">Weight</th>
      <td>{% if start.weight %}{{ start.weight }} kg{% else %} - {% endif %}</td>
      <td>{% if now.weight %}{{ now.weight }} kg{% else %} - {% endif %}</td>
      <td>{% if changes.weight > 0 %}+{% endif %}{{ changes.weight }} kg</td>
      <td>{% if perc.weight > 0 %}+{% endif %}{{ perc.weight }} %</td>
    </tr>
    <tr>
      <th scope="col">Chest</th>
      <td>{% if start.chest %}{{ start.chest }} cm{% else %} - {% endif %}</td>
      <td>{% if now.chest %}{{ now.chest }} cm{% else %} - {% endif %}</td>
      <td>{% if changes.chest > 0 %}+{% endif %}{{ changes.chest }} cm</td>
      <td>{% if perc.chest > 0 %}+{% endif %}{{ perc.chest }} %</td>
    </tr>
    <tr>
      <th scope="col">Waist</th>
      <td>{% if start.waist %}{{ start.waist }} cm{% else %}-{% endif %}</td>
      <td>{% if now.waist %}{{ now.waist }} cm{% else %}-{% endif %}</td>
      <td>{% if changes.waist > 0 %}+{% endif %}{{ changes.waist }} cm</td>
      <td>{% if perc.waist > 0 %}+{% endif %}{{ perc.waist }} %</td>
    </tr>
    <tr>
      <th scope="col">Biceps</th>
      <td>{% if start.biceps %}{{ start.biceps }} cm{% else %}-{% endif %}</td>
      <td>{% if now.biceps %}{{ now.biceps }} cm{% else %}-{% endif %}</td>
      <td>{% if changes.biceps > 0 %}+{% endif %}{{ changes.biceps }} cm</td>
      <td>{% if perc.biceps > 0 %}+{% endif %}{{ perc.biceps }} %</td>
    </tr>
  </tbody>
</table>
{% endif %}
{% endblock %}