{% extends 'bst/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div>

        <form method="POST">
            <fieldset>
                <legend>Log In</legend>
                    {% csrf_token %}
                    {{ form|crispy }}
            </fieldset>
            <div>
                <button class="btn btn-outline-primary mt-2 mb-2" type="submit">Login</button>
                <p class="small">New User? Click to <a href="{% url 'register' %}">Register</a></p>
            </div>
        </form>


    </div>
{% endblock %}