{% extends 'bst/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        <legend class="border-bottom mb-4">Change your password</legend>
        {{ form|crispy }}

    </fieldset>
    <div class="form-group mt-2">
        <button class="btn btn-outline-success" type="submit">Change Password</button>
        <a class="btn btn-outline-danger" href="{% url 'profile' %}" role="button">Cancel</a>
    </div>

</form>

{% endblock %}