{% extends 'bst/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section mt-2">
  <div class="form-group">
    <h2 class="account-heading">Your account
        <a class="btn btn-primary" href="{% url 'dashboard' %}" role="button">
            Back to dashboard
        </a>
    </h2>
  </div>
  <hr>
  <div class="form-group mt-4">
    <p class="h2">{{ user.username }}
    <p class="h3"><small class="text-muted">{{ user.email }}</small>
    </p>
  </div>
  {% if not activated %}
   <div>
   <a class="btn btn-outline-primary btn-sm" href="{% url 'profile'%}?change=yes" role="button">
            EDIT
        </a>

   <li> {{ profile.age }} </li>
   <li> {{ profile.realname }} </li>

 }

   </div>
    {% else %}

  <form method="POST" class="mb-4">
       {% csrf_token %}
        <fieldset>
            <legend class="border-bottom mt-4 mb-4">Edit your profile details</legend>
            {{ form|crispy }}
        </fieldset>

        <div class="form-group mt-2">
           <button class="btn btn-outline-success" type="submit">Update</button>
           <a class="btn btn-secondary" href="{% url 'password_change' %}" role="button">Change Password</a>
        </div>
    </form>

   <div>
{% endif %}


    </div>
</div>

{% endblock %}