{% extends 'bst/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div>

        <form method="POST">
            <fieldset>
                <legend>Register</legend>
                    {% csrf_token %}
                    {{ form|crispy }}
            </fieldset>
            <div>
                <button class="btn btn-outline-primary mt-2 mb-2" type="submit">Register</button>
                <p class="small">Already have account? <a href="{% url 'login' %}">Login here.</a></p>
            </div>
        </form>

    </div>
{% endblock %}